{% extends 'base.html' %}

{% block main %}

    {% if user.is_authenticated %}
        <h1>Выйти из личного кабинета</h1>
        <p style="font-size: 22px;">Ваш никнейм: {{ user.username }}</p>
        <p><button type="submit" class="btn" style="background: orangered; color: whitesmoke;"><a href="{% url 'logout_url' %}" style="text-decoration: none; color: whitesmoke;">выйти</a></button></p>
    {% else %}
        <h1>Войти в личный кабинет форма</h1>
        <p>Нет личного кабинета? <a href="{% url 'register_url' %}">Регистрация</a></p>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}

            <p><button type="submit" class="btn" style="background: fuchsia; color: whitesmoke;">войти</button></p>
        </form>
    {% endif %}

{% endblock %}